body {
  background: black;
  color: white;
}

div.footer {
  font-size: 0.7em;
  padding-top: 1em;
}

div.error {
  color: red;
}

div.gameInfo {
  display: block;
  font-size: 0.8em;
  padding: 0.5em;
}

span {
  display: inline-block;
}

a.gameName {
  display: inline-block;
  width: 32em;
}
a.gameName:hover {
  color: yellow;
}

span.gameStamp {
  font-family: monospace;
  font-size: 0.8em;
}

span.knob {
  font-family: monospace;
  padding-right: 0.5em;
}

span.savesCounter {
  font-family: monospace;
  display: inline-block;
  width: 2em;
  text-align: center;
  padding-right: 0.5em;
}

a.info {
  font-family: monospace;
  padding-right: 0.5em;
}
a.info:hover {
  color: yellow;
}

li.saves {
  display: block;
  padding: 0.5em;
}
