<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body>
    <div id="app"></div>
    <div class="footer">
      urwcal {{ htmlWebpackPlugin.options.version }} 
      &copy; Piotr S. Staszewski 2018 
      <a href="https://github.com/drbig/saver">GitHub</a>
    </div>
  </body>
</html>
